.mainDiv {
    width: 100%;
    text-align: center;
    align-content: center;
}

.regionsImage{
    width: 100%;
}

.lindja {
    margin: auto;
    margin-top: 5px;
    width: 70%;
    min-height: 110px;
    border: 3px solid rgb(240, 115, 13);
    padding: 10px;
    overflow: scroll;
}

.perendim {
    margin: auto;
    margin-top: 5px;
    width: 70%;
    min-height: 110px;
    border: 3px solid rgb(240, 115, 13);
    padding: 10px;
    overflow: scroll;
}

.veriu {
    margin: 10px;
    width: 15%;
    min-height: 320px;
    border: 3px solid rgb(13, 122, 49);
    padding: 10px;
    overflow: scroll;
    float: left;
}

.jugu {
    margin: 10px;
    width: 15%;
    min-height: 280px;
    border: 3px solid rgb(13, 122, 49);
    padding: 10px;
    overflow: scroll;
    float: right;
}

.regjionet {
    display: inline-block;
    margin: 5px;
    width: 30%;
    min-height: 100px;
    border: 3px solid rgb(47, 33, 173);
    padding: 10px;
}

.regjionetVeri {
    margin: 5px;
    width: 80%;
    min-height: 160px;
    border: 3px solid rgb(47, 33, 173);
    padding: 10px;

}

.regjionetJug {
    margin: 5px;
    width: 80%;
    min-height: 160px;
    border: 3px solid rgb(47, 33, 173);
    padding: 10px;

}

.regjionetJugA {
    display: inline-block;
    margin: 5px;
    width: 28%;
    min-height: 120px;
    border: 3px solid rgb(5, 4, 15);
    padding: 10px;

}